.dashboard {
    background-image: url("https://heartofthecity.co.nz/sites/default/files/styles/ratio_3_x_1_medium/public/2023-01/Sky-Tower-Hero.jpg?itok=mkeMBlUE");
    background-size: cover;
}

.dashboardBG {
    background-color: #fff;
    opacity: 90%;
}